<div class="about">
    <div class="about-me">
      <h1 class="about-me__title">
        Über mich.
      </h1>
      <p class="about-me__paragraph">
        Momentan auf einem Projekt in Berlin, Deutschland als Lead Front-End Ingenieur,
        baue ich eine neue Angular 5 Applikation.
        Arbeitsplatz im WeWork am Potsdamer Platz.
        Ich habe einen Schreibtisch im 8 Stock im 'Hustlers Space' mit Blick auf
        den Reichstag/Bundestag mit unseren schönen Fahnen.
        Inspiration und Stimulation zur Leistung garantiert.
        Auf dem Weg zur Arbeit bewundere ich die vielen hübschen Berlinerinnen.
      </p>
      <p>
        Ich versuche alle Best Practices vom Angular Team einzubringen.
      </p>
      <div class="about-me__languages">
          <div class="about-me__languages-item" matTooltip="GitHub"><img [src]="gitHubImagePath"></div>
        <div class="about-me__languages-item" matTooltip="Angular"><img [src]="ngImagePath"></div>
        <div class="about-me__languages-item" matTooltip="JavaScript"><img [src]="javaScriptImagePath"></div>
        <div class="about-me__languages-item" matTooltip="HTML5"><img [src]="html5ImagePath"></div>
        <div class="about-me__languages-item" matTooltip="CSS3"><img [src]="css3ImagePath"></div>
        <div class="about-me__languages-item" matTooltip="NodeJS"><img [src]="nodeJSImagePath"></div>
        <div class="about-me__languages-item" matTooltip="Ionic"><img [src]="ionicImagePath"></div>
        <div class="about-me__languages-item" matTooltip="Chrome"><img [src]="chromeImagePath"></div>
        <div class="about-me__languages-item" matTooltip="Firebase"><img [src]="firebaseImagePath"></div>
        <div class="about-me__languages-item" matTooltip="Google Cloud Platform"><img [src]="googleCloudPlatformImagePath"></div>
        <div class="about-me__languages-item" matTooltip="Linux"><img [src]="linuxImagePath"></div>
        <!-- <div class="about-me__languages-item" matTooltip="BKA"><img [src]="BKAImagePath"></div> -->
      </div>
    </div>
    <div class="image">
          <img class="image__item" [src]="fullImagePath">
    </div>
    <div class="skew"></div>
</div>
