<div class="blog" *ngFor="let blog of blogs | async">
  <div class="blog__header">
    <div class="blog__header-container">
      <div class="blog__header-date">
          {{ blog.date | date:'dd.MM.yyyy'}}
      </div>
      <h1 class="blog__header-title">
            {{ blog.title }}
      </h1>
    </div>
  </div>

  <div class="blog__container">
    <p class="blog__container-paragraph blog__container-paragraph--first">
        {{ blog.firstParagraph }}
    </p>

    <h3 class="blog__container-header">
      "{{ blog.leadQuestion }}"
    </h3>

    <p class="blog__container-paragraph">
        {{ blog.secondParagraph }}
    </p>

    <img class="blog__container-image" src="{{ blog.imagePath }}">

    <p class="blog__container-paragraph">
      {{ blog.thirdParagraph }}
    </p>
  </div>
</div>
