<div class="project" *ngFor="let book of books">
    <div class="content-left">
      <div class="info">
        <h1 class="info__title">
          {{ book.title }}
        </h1>
        <h5 class="info__category">
          Kategorie
        </h5>
        <p class="info__category-name">
          {{ book.category | uppercase }}
        </p>
        <h5 class="info__date">
          {{ today | date:'fullDate' }}
        </h5>
        <p class="info__paragraph">
           {{ book.description }}
        </p>
        <div class="info__link">
          <a href="https://angular.io/docs"
          target="_blank" class="fa fa-link" aria-hidden="true"></a>
          <a href="https://nilsnaegele.gitbooks.io/angular-4-love-affair/content/cover-page.html"
            target="_blank" class="fa fa-heart" aria-hidden="true"></a>
            <a (click)="goBack()" class="fa fa-arrow-left" aria-hidden="true"></a>
        </div>
      </div>
      <div class="technologies">
        <div class="technologies__container">
          <h5 class="technologies__container-title">Technologien</h5>
            <p class="technologies__container-items">
              Angular CLI 1.6, Angular 5, Angular Material 5, Redux,
              TypeScript, RxJS, JavaScript
            </p>
        </div>
      </div>
    </div>

    <div class="images">
        <div class="images__item images__item--wide">
          <img [src]="book.imageUrl"></div>
        <!-- <div class="images__item images__item--small"></div>
        <div class="images__item images__item--small"></div> -->
    </div>

  </div>

