<div class="project">
    <div class="content-left">
      <div class="info">
        <h1 class="info__title">
          Projekt A
        </h1>
        <h5 class="info__client">
          Kunde
        </h5>
        <p class="info__client-name">
          Open Source/Menschheit
        </p>
        <h5 class="info__date">14/01/2018</h5>
        <p class="info__paragraph">
            Angular 4 Liebesaffäre.
            Es gibt Technologie. Es gibt Frieden. Es gibt Liebe.
            Dieses Buch ist allen Müttern gewidmet.
            Ihr seid alle die intelligentesten und schönsten Frauen der Welt.
            Carmen ist bemüht Angular, JavaScript, Machine Learning vorwärts zu bringen.
            Ich möchte mich bei Euch bedanken für alles was Ihr tut um diese Welt zu einem
            besseren Platz zu machen, für alle.
            Jede Mutter steht unter besonderer Fürsorge und Schutz der Gemeinschaft.
            Gott segne Euch. Ich werde immer für Euch da sein. Ehre Mutter DE.
        </p>
        <div class="info__link">
          <a href="https://nilsnaegele.gitbooks.io/angular-4-love-affair/content/cover-page.html"
          target="_blank" class="fa fa-link" aria-hidden="true"></a>
        </div>
      </div>
      <div class="skill">
        <div class="skill__container">
          <h5 class="skill__container-title">Kompetenzen</h5>
            <p class="skill__container-items">
              Angular CLI 1.5, Angular 4, Angular Material 5, Angular Redux, JavaScript, TypeScript
            </p>
        </div>
      </div>
    </div>

    <div class="images">
        <div class="images__item images__item--wide"><img src=""></div>
        <!-- <div class="images__item images__item--small"></div>
        <div class="images__item images__item--small"></div> -->
    </div>

  </div>

