<mat-sidenav-container>
  <div class="wrapper">
      <mat-sidenav #sidenav mode="over">
        <a routerLink="/about-me" class="btn-item btn-item--orange"
           (click)="sidenav.close()" for="menu__open">
          Über Mich
        </a>
        <a routerLink="/projects/project-a" class="btn-item btn-item--green"
          (click)="sidenav.close()" for="menu__open">
          Projekte
        </a>
        <a routerLink="/blogs" class="btn-item btn-item--purple"
          (click)="sidenav.close()" for="menu__open">
          Blog
        </a>
        <a routerLink="/books" class="btn-item btn-item--yellow"
        (click)="sidenav.close()" for="menu__open">
          Bücher
      </a>
      </mat-sidenav>
      <div>
        <app-menu class="app-menu" (click)="toggle()"></app-menu>
      </div>
      <div class="container">
        <app-header class="app-header" (click)="sidenav.close()"></app-header>
        <router-outlet></router-outlet>
        <app-footer class="app-footer"></app-footer>
      </div>
      <app-sidebar class="app-sidebar"></app-sidebar>
  </div>
</mat-sidenav-container>

