<div class="sidebar">
  <div class="sidebar__images">
    <a href="https://github.com/NilsNaegele" target="_blank"
       class="fa fa-github-alt" aria-hidden="true"></a>
    <a href="https://www.linkedin.com/in/nilsnagele" target="_blank"
        class="fa fa-linkedin" aria-hidden="true"></a>
        <a href="https://www.xing.com/profile/NilsHolger_Naegele" target="_blank"
        class="fa fa-xing" aria-hidden="true"></a>
        <a href="https://twitter.com/nilsnagele" target="_blank"
        class="fa fa-twitter" aria-hidden="true"></a>
     <a href="https://www.facebook.com/nils.holger.5" target="_blank"
         class="fa fa-facebook" aria-hidden="true"></a>
         <a href="https://plus.google.com/u/1/+NilsNaegele" target="_blank"
         class="fa fa-google-plus" aria-hidden="true"></a>
         <a href="http://de.viadeo.com/fr/profile/nils.nagele" target="_blank"
         class="fa fa-viadeo" aria-hidden="true"></a>
  </div>
</div>
