<div class="book-overview">
  <div class="book-overview__header">
    <h1 class="book-overview__header-title">
      Meine Bücher ...
    </h1>
    <input type="text"
            [(ngModel)]="term"
            class="book-overview__header-searchbar" placeholder="Suchen ...">
  </div>
  <div class="book-overview__list">
    <div routerLink="/book/{{book.id}}"
        *ngFor="let book of books | async | searchBy:term"
         class="book-overview__list-item">
      <div class="book-overview__list-item-title">
          {{ book.title }}
      </div>
    </div>
    </div>
  </div>
