<div class="blog-overview">

  <div class="blog-overview__header">
    <h1 class="blog-overview__header-title">
      Angular Blog.
    </h1>
    <input type="text" class="blog-overview__header-searchbar" placeholder="Suche...">
  </div>

  <div class="blog-overview__list">

    <div routerLink="/blog" class="blog-overview__list-item">
      <div class="blog-overview__list-item-date">
        14/01/2018
      </div>
      <div class="blog-overview__list-item-title">
        Mein erster Angular Blog
      </div>
    </div>

    <div class="blog-overview__list-item">
      <div class="blog-overview__list-item-date">
        16/01/2018
      </div>
      <div class="blog-overview__list-item-title">
        Mein zweiter Angular Blog
      </div>
    </div>
    <div class="blog-overview__list-item">
        <div class="blog-overview__list-item-date">
          18/01/2018
        </div>
        <div class="blog-overview__list-item-title">
          Mein dritter Angular Blog
        </div>
      </div>
      <div class="blog-overview__list-item">
          <div class="blog-overview__list-item-date">
            20/01/2018
          </div>
          <div class="blog-overview__list-item-title">
            Mein vierter Angular Blog
          </div>
        </div>
  </div>
</div>
